<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Jenkins</title>
</head>
<body>
<h1>Fake Jenkins</h1>
<img src="https://docs.knapsackpro.com/images/blog/posts/jenkins-pipeline-how-to-run-parallel-tests-in-your-workflow-stages/jenkins.jpg" style="width: 10%; height: 10%;">

<p>
<button onclick="deleteAllBuilds()">Delete All Builds</button>
</p>

<h2>Builds</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Job Name</th>
            <th>Execution Time</th>
            <th>Start Time</th>
            <th>Build Status</th>
            <th>ForceFail</th>
            <th>ForceUnstable</th>
        </tr>
    </thead>
    <tbody id="builds-table-body">
        <!-- Data will be inserted here dynamically -->
    </tbody>
</table>

<script>
    // Fetch data from localhost:8080/builds and populate the table
    const address = window.location.host

    function fetchAndPopulateTable() {
        fetch("http://" + address + "/builds")
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('builds-table-body');
                data.sort((a, b) => b.ID - a.ID);
                data.forEach(entry => {
                    const row = document.createElement('tr');
                    row.innerHTML = `<td>${entry.ID}</td>
                                    <td>${entry.JobName}</td>
                                    <td>${entry.ExecutionTime}</td>
                                    <td>${new Date(entry.StartTime).toLocaleString()}</td>
                                    <td>${entry.BuildStatus} ${getEmojiByStatus(entry.BuildStatus)}</td>
                                    <td>${entry.ForceFail}</td>
                                    <td>${entry.ForceUnstable}</td>`
                    tableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    // Function to get emoji based on buildStatus
    function getEmojiByStatus(buildStatus) {
        switch (buildStatus) {
            case 'INQUEUE':
                return '⚪';
            case 'INPROGRESS':
                return '🔵';
            case 'ABORTED':
                return '⛔';
            case 'FAILURE':
                return '🔴';
            case 'SUCCESS':
                return '🟢';
            case 'UNSTABLE':
                return '🟠';
            default:
                return '';
        }
    }

    function deleteAllBuilds() {
        fetch("http://" + address + "/deleteAllBuilds", {
            method: 'DELETE'
        })
            .then(response => response.json())
            .then(data => {
                window.location.reload()
            })
            .catch(error => console.error('Error deleting builds:', error));
        }
    
    fetchAndPopulateTable()
</script>

</body>
</html>